.rss-icon-label {
	font-size: 87%;
}

.rss-status-label {
	margin-right: 25px;
	margin-left: 15px;
}

.rss-menu {
	min-width: 400px;
}

.rss-action-button {
	padding: 8px;
	border-radius: 4px;
}

.rss-action-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.rss-action-button:active {
	background-color: rgba(255, 255, 255, 0.2);
}
